@model BoardGameGallery.Models.BoardGame

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.TitleText</h1>
<img class="big_image" src="~/Images/@Model.BigImage" />
<section id="details">
    <b>Product Number:</b> @Model.ProductNumber<br />
    <div><b>Description:</b> @Html.Raw(@Model.DescriptionHtml)</div>
</section>
<br />
@if (Model.Contents.Length > 0)
{
    <h3>Contents:</h3>
    <ul>

        @foreach (var s in Model.Contents)
        {
            <li>@s</li>
        }
    </ul>
}

